<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CatsStandingUp</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="page-page4">
  <div *ngFor="let child of children">
    <ion-card *ngIf="isJPGurl(child)">

        <img src={{child.data.url}}/>

      <ion-card-content>
        <ion-card-title>
          {{child.data.title}} 
        </ion-card-title>
        <ion-icon name="arrow-round-up" > {{child.data.score}} </ion-icon>
      </ion-card-content>
    </ion-card >

    <ion-card *ngIf="!isJPGurl(child) && isImgur(child) && !isImgurGallery(child) && !isImgurGif(child)">

        <img src="{{child.data.url}}.jpg"/>

      <ion-card-content>
        <ion-card-title>
          {{child.data.title}} 
        </ion-card-title>
        <ion-icon name="arrow-round-up" > {{child.data.score}} </ion-icon>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="!isJPGurl(child) && isImgur(child) && isImgurGallery(child) && !isImgurGif(child)">

        <img src="{{remGalFromLink(child.data.url)}}.jpg"/>

      <ion-card-content>
        <ion-card-title>
          {{child.data.title}}
        </ion-card-title>
        <ion-icon name="arrow-round-up" > {{child.data.score}} </ion-icon>
      </ion-card-content>
    </ion-card >

    <ion-card *ngIf="!isJPGurl(child) && !isImgur(child)">
      <ion-card-content>
        <ion-card-title>
          {{child.data.title}}
        </ion-card-title>
        <ion-icon name="arrow-round-up" > {{child.data.score}} </ion-icon>
        <p>
          Text post
        </p>
      </ion-card-content>
    </ion-card >
    <ion-card *ngIf="!isJPGurl(child) && isImgurGif(child)">

      <img src={{child.data.url}}/>

      <ion-card-content>
        <ion-card-title>
          {{child.data.title}}
        </ion-card-title>
        <ion-icon name="arrow-round-up" > {{child.data.score}} </ion-icon>
        <p>
          Supposed to display GIF'
        </p>
      </ion-card-content>
    </ion-card >
  </div>
</ion-content>
